html {
   background-color: azure; 
}
h1 {
    border-style: outset;
    width: 300px;
    padding: 25px;
    margin: 50px;
}
p {
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 30px 170px 10px;
    width: 170px;
}
label {
    padding: 100px 0px 50px 150px;
}